<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All temperatures</title>
</head>
<body style="background-color: antiquewhite">

<h1>Temperatures</h1>

<table>

    {%  if temperatures is empty %}
    No temperatures
    {% else %}
    <ul>
        {% for temperature in temperatures %}
        <li>


            <b>{{ temperature.Temperature }}</b>
            <i>{{ temperature.CaptureTime }}</i>

            </li>
        {% endfor %}
    </ul>
    {% endif %}

</table>
</body>
</html>